@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

.page {
    background-color: rgb(243, 242, 248);
}



h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h3 {
    font-family: 'Poppins', sans-serif;

}

.container p {
    max-width: 650px;
    text-align: justify;
    text-justify: inter-word;
}

.obj {
    max-width: 640px;
    border: 0.2px solid rgba(128, 128, 128, 0.329);
    padding: 20px;

}

.lo {
    display: flex;
    max-width: 900px;

}

